@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.mainhead{
	background-color: black;
	color: white;
	width: 100%;
	height: 100px;
}
.title{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	
}
.plus{
	display: block;
	margin-left: 10px;
	margin-right: auto;
	float: left;
}
.faces{
	margin-left: auto;
	margin-right: 10px;
	display: block; 
	width: 60px;
	float: left;
}
.main{
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}
.mobiletext{
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px;
}
.search{
	float: right;
	display: block;
}
.container{
	grid-template-areas: 'active active id id name name name service service service service more more more' ;
	display: grid;
}
.item1 {grid-area: active; text-align: center}
.item2 {grid-area: id; text-align: center}
.item3 {grid-area: name; text-align: center}
.item4 {grid-area: service; text-align: center}
.item5 {grid-area: more; text-align: center}

.ns1{
	display: block;
	background-color: orangered;
	border-color: black;
	border-style: solid;
	border-radius: 25px;
	font-size: 20px;
}

.ns2{
	display: block;
	background-color: greenyellow;
	border-color: black;
	border-style: solid;
	border-radius: 25px;
	font-size: 20px;
}

.ns3 {
	display: block;
	background-color: yellow;
	border-color: black;
	border-style: solid;
	border-radius: 25px;
	font-size: 20px;
	
}

.dot{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}

.time{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
