*{

margin:0;
padding: 0;
box-sizing: border-box;

}

html,
body {

height: 100%;
}

html {

font-family: Helvetica;
background: #A7C8E2 ;
font-size: 12px;

}

body {

display: grid;
place-items: center;

}


#chat-container {
  display: grid;
  grid:
  'search-container chat-title' 71px
  'conversation-list chat-message-list' 1fr
  'new-message-container chat-form' 78px
  / 275px 1fr;

  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: #ffffff;
  border-radius: 10px;

}

#search-container,
#conversation-list,
#new-message-container {

background: #F8F8F8;

}

#search-container {
display: grid;
align-items: center;
padding: 0 20px;
grid-area: search-container;
border-radius: 10px 0 0 0;
box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
z-index: 1;
}

#search-container input{
color: #ffffff;
outline: none;
font-weight: bold;
border-radius: 2px;
height: 30px;
border: 0;
padding-left: 10px;
padding-right: 20px;
font-size: 1.4rem;
background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3)
background-position: 15px center;
background-size: 20px 20px;

}

#conversation-list {

grid-area: conversation-list;

}


#new-message-container {

grid-area: new-message-container ;
border-top: 1px solid rgba(0,0,0,0.25);
border-radius: 0 0 0 10px;

}


#chat-title,
#chat-form {
  background: #E5E5E5;
}

#chat-title {

grid-area: chat-title;
color: #000000;
font-weight: bold;
font-size: 2.0rem;
border-radius: 0 10px 0 0;
box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}

#chat-message-list {

grid-area: chat-message-list;
}

#chat-form {
grid-area: chat-form;
border-radius: 0 0 10px 0;
border-top:1px solid rgba(0,0,0,0.25);

}
