*{

margin:0;
padding: 0;
box-sizing: border-box;

}

html,
body {

height: 100%;
}

html {

font-family: Helvetica;
background: #A7C8E2 ;
font-size: 12px;

}

body {

display: grid;
place-items: center;

}


#chat-container {
  display: grid;
  grid:
  'search-container chat-title' 71px
  'conversation-list chat-message-list' 1fr
  'new-message-container chat-form' 78px
  / 275px 1fr;

  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: #ffffff;
  border-radius: 10px;

}

#search-container,
#conversation-list,
#new-message-container {

background: #F8F8F8;

}

#search-container {
display: grid;
align-items: center;
padding: 0 20px;
grid-area: search-container;
border-radius: 10px 0 0 0;
box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
z-index: 1;
}

#search-container input{
color: #707070;
outline: none;
border-radius: 2px;
height: 30px;
border: 0;
padding-left: 10px;
padding-right: 20px;
font-size: 1.4rem;
background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3)
background-position: 15px center;
background-size: 20px 20px;

}

#search-container input::pladeholder {
color: #000000;
font-weight: bold;


}

#conversation-list {

grid-area: conversation-list;
overflow-y: scroll;

}


.conversation {
display: grid;
grid-template-columns: 40px 1fr max-content;
grid-gap: 5px;
color: #000000;
font-size: 1.3rem;
border-bottom: 1px solid #707070;
padding: 20px 20px 20px 15px;

}


.conversation.active,
.conversation:hover {
background: #F8F8F8;

}

.conversation:hover {
cursor: pointer;

}

.conversation > img {
grid-row: span 2;

}

.title-text {

font-weight: bold;
color: #000000;
padding-left: 10px;
white-space: nowrap;
overflow-x: hidden;
text-overflow: ellipsis;


}

.creasted-date {
color: #000000;
font-size: 1rem;
}

.conversation-message {
grid-column: span 2;
padding-left: 10px;
white-space: nowrap;
overflow-x: hidden;
text-overflow: ellipsis;

}


#new-message-container {
display: grid;
grid: 40px / 40px;
align-content: center;
grid-area: new-message-container;
border-top: 1px solid rgba(0,0,0,0.25);
border-radius: 0 0 0 10px;
padding: 0 15px;
}

#new-message-container a {
display: grid;
place-content: center center;
background: #00CD00;
border-radius: 100%;
color: #ffffff;
text-decoration: none;
font-size: 30px;
}



#chat-title,
#chat-form {
  background: #E5E5E5;
}

#chat-title{
display: grid;
grid: 36px / 1fr 36px;
align-content: center;
align-items: center;
grid-area: chat-title;
color: #000000;
font-size: 20px;
border-radius: 0 10px 0 0;
box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
padding: 0 20px;
}

#chat-title > img {

cursor: pointer;

}

#chat-message-list {

grid-area: chat-message-list;
}

#chat-form {
display: grid;
grid: 51px / 32px 1fr;
grid-area: chat-form;
align-content: center;
align-items: center;
grid-gap: 15px;
border-radius: 0 0 10px 0;
border-top:1px solid rgba(0,0,0,0.25);
padding-left: 20px;
padding-right: 22px;

}


#chat-form input {

outline: none;
padding: 8px;
border: 2px solid #ffffff;
color: #000000;
border-radius: 6px;
font-size:  1.4rem;

}


::-webkit-scrollbar {

display:none;

}
