* {
  padding: 0px;
  margin: 0px;
  font-family: 'helvetica';
}

.header {
  display: flex;
  justify-content: left;
  background: #000000;
  width: 100%;
  height: 200px;
  color: white;
}

#logo{
  height: 200px;
  line-height: 200px;
}

#logo img {
  vertical-align: middle;
  margin: 50px;
  width: 500px;
  height: auto;
}


.back{
  margin: 35px;
  height: 100px;
  width: auto;
}

h1{
  text-align: center;
  margin: 30px;
  font-size: 50px;
}

.reviewpaper{
font-size: 25px;
margin: 35px;
}

ul{
  list-style-type: none;
}

#clbar{
  height: 100px;
}

#clbar img{
  max-width:100%;
    height:auto;
}
